:root {
  --main-font: 'Roboto', sans-serif;
  --main-color: #212121;
  --main-font-size: 14px;

  --logo-font: 'Raleway', sans-serif;
  --logo-webcolor: #2196f3;
  --hover-focus-color: #2196f3;
  --footer-background: #2f303a;
  --link-contacts-color: #757575;
  --description-text: #757575;
  --button-order: #2196f3;
  --ourteam-background: #f5f4fa;
}
body {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: var(--main-font-size);
}

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}

/* index */
/*color-logo-Web: 2196F3 
 color-logo-studio: black(header) and white(footer) 
 color-link-mail/phone: 757575 
 color-font-features: 757575 
 color-background-hero: 2F303A 
 color-font-features-title: 212121 
 color-background-features: E5E5E5 
 color-background-ourteam: F5F4FA 
 color-background-header: ECECEC 
 color-bacground-footer: 2F303A 
 color-font-link-footer: #FFFFFF 60% 
 */

/* portfolio */
/* color-background: E5E5E5
   color-button: F5F4FA
   color-button-font: 212121
   color-hover-focus-button: 2196F3
   color-hover-focus-button-font: white
   color-background-container: EEEEEE
   color-work-tag: 212121
   color-title: 757575
*/

/* ---------------------HEADER----------------- */
.header {
}

.logo {
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-webcolor);
}

.logo-studio-header {
  color: #000;
}
.logo-studio-footer {
  color: #fff;
}

.nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.nav:hover,
.nav:focus {
  color: var(--hover-focus-color);
}

.link-contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--link-contacts-color);
}

.link-contacts:hover,
.link-contacts:focus {
  color: var(--hover-focus-color);
}

/* ---------------------MAIN----------------- */
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button-order {
  background-color: var(--button-order);
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

/* ---------------------FEATURES---------------- */
.features {
}

.features-item {
}

.features-title {
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--description-text);
}

/* ---------------------OUR WORKS----------------- */
.our-team-section {
  background-color: var(--ourteam-background);
}

.our-works-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-works {
}

/* ---------------------OUR TEAM----------------- */
.our-team {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

}

.team-img {
}

.team-item {
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-text);
}

/* ---------------------FOOTER----------------- */
.footer {
  background-color: var(--footer-background);
}
.address {
  font-style: normal;
}
.link-googlemaps {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.link-contacts-footer {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.link-contacts-footer:hover,
.link-contacts-footer:focus {
  color: var(--hover-focus-color);
}

/* ---------------------PORTFOLIO----------------- */
/* filter */
.filter {
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--hover-focus-color);
  color: #fff;
}

/* ---------------------WORKS----------------- */
.works {
}

.works-list {
}
.work-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.work-img {
}

.work-tag {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--description-text);
}
