body {
  font-family: Roboto, sans-serif;
  color: #212121;
  font-weight: 700;
}
.link {
  text-decoration: none;
  font-style: normal;
}
.list {
  list-style-type: none;
}

/* index */
/*color-logo-Web: 2196F3 
 color-logo-studio: black(header) and white(footer) 
 color-link-mail/phone: 757575 
 color-font-features: 757575 
 color-background-hero: 2F303A 
 color-font-features-title: 212121 
 color-background-features: E5E5E5 
 color-background-ourteam: F5F4FA 
 color-background-header: ECECEC 
 color-bacground-footer: 2F303A 
 color-font-link-footer: #FFFFFF 60% 
 */

/* portfolio */
/* color-background: E5E5E5
   color-button: F5F4FA
   color-button-font: 212121
   color-hover-focus-button: 2196F3
   color-hover-focus-button-font: white
   color-background-container: EEEEEE
   color-work-tag: 212121
   color-title: 757575
*/

/* Header */
.header {
  background-color: ECECEC;
}

.logo {
  font-family: 'Raleway';

  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-studio-header {
  color: black;
}

.logo-studio-footer {
  color: white;
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav:hover,
.nav:focus {
  color: #2196f3;
}

.link-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.link-contacts:hover,
.link-contacts:focus {
  color: #2196f3;
}

/* main */
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button-order {
  background-color: #2196f3;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;

  cursor: pointer;
}

/* Features */
.features {
}

.features-item {
}

.features-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Our-works */
.our-works-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-works {
}

/* Our team */
.our-team {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-img {
}

.team-item {
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* footer */
.footer {
  background-color: #2f303a;
}

.link-googlemaps {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.link-contacts-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.link-contacts-footer:hover,
.link-contacts-footer:focus {
  color: #2196f3;
}

/* Portfolio */
/* filter */
.filter {
  display: flex;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #2196f3;
  color: white;
}

/* Works */
.works {
}

.works-list {
  display: flex;
  flex-direction: row;
}
.work-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.work-img {
}

.work-tag {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
